.navbar {
    background-color: #222;
}

a, .navbar-nav, .navbar-light .nav-link {
    color: #9FFFCB;
}

a:hover, .navbar-nav:hover, .navbar-light:hover .nav-link:hover {
    color: white;
}

.navbar-brand {
    font-size: 1.4em;
    color: #9FFFCB;
}

.navbar-brand:hover { color: white; }

.form-center {
    position: absolute !important;
    left: 25%;
    right: 25%;
}

/* Global Button */
.transparent_btn {
    display: inline-block;
    padding: 10px 14px;
    color: #FFF;
    border: 1px solid #FFF;
    text-decoration: none;
    font-size: 14px;
    line-height: 120%;
    background-color: rgba(255,255,255, 0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: background-color 300ms ease;
    -moz-transition: background-color 300ms ease;
    transition: background-color 300ms ease;
    cursor: pointer;
}
.transparent_btn:hover {
    background-color: rgba(255,255,255, 0.3);
    color: #FFF;
}

.transparent_btn.blue {
    color: #aeddf5;
    border-color: #aeddf5;
}
.transparent_btn.blue:hover {
    background-color: rgba(174, 221, 245, 0.3);
}
